/* Custom Input & Select styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
select {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  height: 50px;
  border: 1px solid var(--color-gray-200);
  border-radius: 10px;
  font-family: "Pretendard Variable";
  font-size: 16px;
  line-height: 1.5;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-gray-400);
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="number"]:disabled,
select:disabled {
  background-color: var(--color-gray-50);
  cursor: not-allowed;
}
